In [1]:
pip install apyori

Requirement already satisfied: apyori in c:\users\user\anaconda3\lib\site-packages (1.1.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from apyori import apriori

In [3]:
df = pd.read_csv("Stationery.csv")

In [4]:
df = pd.read_csv("Stationery.csv", header=None)

In [5]:
df.head()

    0       1       2        3          4      5     6
0  ID    Name   Item1    Item2      Item3  Item4  Bill
1   1  Tushar  Pencil   Eraser   Sharpner    NaN    20
2   2  Ramesh     Pen    Pages      Files    Gum    65
3   3  Pankaj  Eraser  Perfume  Chocolate    NaN    40
4   4  Kartik   Pages    Files    Stapler  Scale   110

In [6]:
df.isnull().sum()

0     0
1     0
2     0
3     2
4     6
5    16
6     0
dtype: int64

In [7]:
df.shape

(24, 7)

In [8]:
#df1 = df[['Item','Item2','Item3','Item4']]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       24 non-null     object
 1   1       24 non-null     object
 2   2       24 non-null     object
 3   3       22 non-null     object
 4   4       18 non-null     object
 5   5       8 non-null      object
 6   6       24 non-null     object
dtypes: object(7)
memory usage: 1.4+ KB

In [10]:
df.head()

    0       1       2        3          4      5     6
0  ID    Name   Item1    Item2      Item3  Item4  Bill
1   1  Tushar  Pencil   Eraser   Sharpner    NaN    20
2   2  Ramesh     Pen    Pages      Files    Gum    65
3   3  Pankaj  Eraser  Perfume  Chocolate    NaN    40
4   4  Kartik   Pages    Files    Stapler  Scale   110

In [11]:
records = []
for i in range(24):
    records.append([str(df.values[i, j]) for j in range(0, 7)])

In [12]:
records

[['ID', 'Name', 'Item1', 'Item2', 'Item3', 'Item4', 'Bill'],
 ['1', 'Tushar', 'Pencil', 'Eraser', 'Sharpner', 'nan', '20'],
 ['2', 'Ramesh', 'Pen', 'Pages', 'Files', 'Gum', '65'],
 ['3', 'Pankaj', 'Eraser', 'Perfume', 'Chocolate', 'nan', '40'],
 ['4', 'Kartik', 'Pages', 'Files', 'Stapler', 'Scale', '110'],
 ['5', 'Ganesh', 'Biscuits', 'Chocolate', 'nan', 'nan', '15'],
 ['6', 'Aradhya', 'Pages', 'Files', 'Compass', 'nan', '68'],
 ['7', 'Aman', 'Pencil', 'Pen', 'Notebook', 'nan', '46'],
 ['8', 'Armaan', 'Biscuits', 'Chocolate', 'nan', 'nan', '15'],
 ['9', 'Vaibhav', 'Pencil', 'Pen', 'Scale', 'nan', '25'],
 ['10', 'Sumit', 'Files', 'nan', 'nan', 'nan', '20'],
 ['11', 'Heena', 'Biscuits', 'Chocolate', 'nan', 'nan', '9'],
 ['12', 'Manas', 'Pages', 'Notebook', 'Perfume', 'nan', '120'],
 ['13', 'Vikas', 'Files', 'Gum', 'Scale', 'nan', '25'],
 ['14', 'Akshay', 'Pen', 'Files', 'Compass', 'Chocolate', '45'],
 ['15', 'Ashish', 'Compass', 'nan', 'nan', 'nan', '18'],
 ['16', 'Nilesh', 'Pencil', 'Biscuits', 'Chocolate', 'nan', '15'],
 ['17', 'Ashish', 'Scale', 'Biscuits', 'Chocolate', 'nan', '28'],
 ['18', 'Saurabh', 'Pencil', 'Eraser', 'Sharpner', 'Pen', '25'],
 ['19', 'Abhishek', 'Gum', 'Compass', 'Scale', 'Sheets', '53'],
 ['20', 'Akash', 'Pen', 'Notebook', 'Chocolate', 'nan', '65'],
 ['21', 'Popat', 'Pencil', 'Eraser', 'Sharpner', 'Pen', '24'],
 ['22', 'Sandip', 'Pencil', 'Pen', 'Pages', 'Files', '50'],
 ['23', 'Tejaswini', 'Notebook', 'Sheets', 'nan', 'nan', '45']]

In [13]:
print(type(records))

<class 'list'>

In [ ]:
association_rules = apriori(records, min_support=0.0045, min_confidance=0.2, min_lift=3, min_length=2)
association_results = list(association_rules)

In [ ]:
print(len(association_results))

In [ ]:
for i in range(0, len(association_results)):
    print(association_results[i][0])

In [ ]:
for item in association_results:
    # first index of the inner list
    # Contains base item and add item
    pair = item[0]
    items = [x for x in pair]
    print("Rule: " + items[0] + " -> " + items[1])

    # second index of the inner list
    print("Support: " + str(item[1]))

    # third index of the list located at 0th
    # of the third index of the inner list

    print("Confidence: " + str(item[2][0][2]))
    print("Lift: " + str(item[2][0][3]))
    print("=====================================")